<h2>Por País</h2>
<hr />
<div class="row">
  <div class="col">
    <input
      placeholder="Buscar país"
      type="text"
      class="form-control"
      name="termino"
    />
  </div>
</div>
<hr />
<div class="alert alert-danger">No se encontró</div>

<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>A</th>
          <th>B</th>
          <th>C</th>
          <th>D</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td><span class="badge badge-pill badge-success">VER</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
