<h2>Por País</h2>
<hr />
<div class="row">
  <div class="col">
    <input
      placeholder="Buscar país"
      type="text"
      class="form-control"
      name="termino"
      #termino
      (keyup.enter)="buscar(termino.value)"
    />
  </div>
</div>
<hr />
<div *ngIf="hayError" class="alert alert-danger">No se encontró {{termino.value}}</div>

<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Flag</th>
          <th>C</th>
          <th>D</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pais of paises; let i = index">
          <td>{{i+1}}</td>
          <td><img [src]="pais.flag" alt="" style="width:50px"></td>
          <td>{{pais.name}}</td>
          <td>{{pais.population | number}}</td>
          <td><button [routerlink]="['/pais', pais.alpha2Code]" class="btn btn-primary">VER</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
